body {
    background-color: rgb(159, 170, 144);
}

.cards {
    display: flex;

}

.students_card {
    border: 1px solid;
    padding: 10px;
    background-color: rgb(135, 186, 175);
    color: rgb(165, 187, 148);
    border-radius: 10px;
    img{
        max-width: 200px;
        width: 100%;
    }
}