{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
        <div class="cards">
            {% for student in students %}
                <div class="students_card">
                    <img src="{{ student.avatar.url }}" alt="">
                    <div>name: {{ student.name }}</div>
                    <div>group: {{ student.group.name }}</div>
                    <div>email: {{ student.email }}</div>
                    <div>phonenumber: {{ student.phonenumber }}</div>
                </div>
            {% endfor %}
        </div>
</body>

</html>