<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="cards">
        {% for student in students %}
            <div class="students_card">
                <div>
                    <a href="{% url 'dateils' id=student.id %}">
                        {% if student.avatar %}
                            <img src="{{ student.avatar.url }}" alt="{{ student.name }}">
                        {% else %}
                            No avatar
                        {% endif %}
                    </a>
                </div>
                <div>name: {{ student.name }}</div>
                <div>group: {{ student.group.name }}</div>
                <div>age: {{ student.age }}</div>
                <div>email: {{ student.email }}</div>
                <div>phonenumber: {{ student.phonenumber }}</div>
            </div>
        
        {% endfor %}

    </div>  
</body>
</html>