{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>

    Hello world
    <div class="student_card_detail">
        <div>
            <h1>{{ student.name }} - {{ student.last_name }}</h1>
            <div class="student_info">age: {{ student.age }}</div>
            <div class="student_info">email: {{ student.email }}</div>
            <div class="student_info">phone number: {{ student.phone_number }}</div>
            <div class="student_info">join date: {{ student.join_date }}</div>
            <div class="student_info">group: {{ student.group.name }}</div>
        </div>
        <div class="student_image">
            {% if student.avatar %}
                <img src="{{ student.avatar.url }}" alt="{{ student.name }}">
            {% else %}
                No avatar
            {% endif %}
        </div>
    </div>
    
</body>
</html>